# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ How to insert a new cell
+ How to create a new markdown
+ How to perform the operations in jupyter notebook
+ How to print the output
+ New shortcuts of the jupyter notebook

1. Python
2. R
3. SQL
4. PowerBI

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Visual Studio Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Tejas Jagdale